@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Outfit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #333;
    line-height: 1.6em;
    font-family: 'Outfit', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#333;
}

/* Header */

header{
    height: 70px;
    background-color: rgb(97, 240, 93);
    color: #fff;
}

.navbar h1{
    padding: 0 20px 0 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar ul{
    display: flex;
    margin: 0 100px;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 35px;
    font-size: 18px;
}

.navbar a:hover{
    border-bottom: rgb(72, 73, 72) solid;
}

/* img-container */
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.img-container img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.img-content{
    max-width: 600px;
    position: absolute;  
    line-height: 2em;
    text-align: center;
    font-size: 20px;
}

.img-content h2{
    font-size: 30px;

}

/* Showcase */
.showcase{
    height: 300px;
    display: flex;
    align-items: center;
    padding: 70px;
    text-align:  center;
    background-color:rgb(97, 240, 93);
    color: #fff;
}

.showcase i{
    font-size: 35px;
}

.showcase a{
   color: rgb(12, 160, 49);
   font-weight: bold;  
}

.showcase a:hover{
    font-size: 18px;
}

/* btn-content */
.btn-content{
    display: flex;

}

.btn-text{
    width: 40%;
    margin-left:  120px; 
    font-size: 20px;
}

.btn-text h2,h3{
    line-height: 1.8em;
}

.btn-content i{
    margin:20px 120px 0 0;
    font-size: 300px;
    color:rgb(97, 240, 93);
}

.btn-content button{
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    background-color:rgb(30, 197, 24);
    font-size: 16px;
}

.btn-content button:hover{
    background-color:rgb(12, 160, 49);
}

/* Footer */
footer{
    background-color:rgb(82, 161, 79);
    color: #fff;
    padding: 10px;
    font-size: 15px;
    line-height: 1.9em;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.social{
    padding: 0px 100px 0 0;
}

.social a{
    margin: 0 50px;
    color: #fff;
}

@media (max-width: 700px){
    .showcase{
        
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }
    .btn-text{
        font-size: 16px;
        margin: 10px 10px;
    }

    .btn-content i{
        font-size: 150px;
        margin: 10px 0;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar ul{
        background-color: rgba(0,0,0,0.1);;
    }

    .social{
        padding: 0px 10px 0 0;
    }
    .social a{
        margin: 0 5px;
    }

}